@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
}

body {
    background-color: #fffafa;
}

.principal {
    display: flex;
    height: 40rem;
    width: 100dvw;
    align-items: center;
    padding: 2rem;
}

.principal .text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrossel{
    width: 50%;
    height: 100%;
    padding: 2rem;
}
.carrossel .carousel-inner,.carrossel .carousel,.carrossel .carousel-item, .carrossel img{
    height: 100%;
    
}