@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;

}

body {
    background-color: #fffafa;
    text-align: justify;
}

.principal {
    display: flex;
    min-height: 40rem;
    width: 100dvw;
    align-items: center;
    padding: 80px 4%;
}

.principal .text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
}

.text h1 {
    margin-bottom: 2rem;
}

.carrossel {
    width: 50%;
    height: 100%;
    padding: 2rem;
}

.carrossel .carousel-inner,
.carrossel .carousel,
.carrossel .carousel-item,
.carrossel img {
    height: 100%;
    border-radius: 20px;

}

.equipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;

}

.cards {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
}

.card {
    text-align: center;
}

.card h5 {
    line-height: 1.4;
}