/*
Importar fonte do google fonts
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

:root {
    --header-bg-1: #705714;
    --header-bg-2: blue;
    --logo-bg: black;
    --text-hover: cyan;
    --text-underline: red;
}

header {
    width: 100vw;
    height: 8rem;
    max-height: 10rem;
    max-width: 100vw;
}

.logo {
    position: absolute;
    height: inherit;
    width: 18rem;
    background-color: var(--logo-bg);
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    z-index: 1000;
    overflow: hidden;
}

.logo img {
    position: absolute;
    width: 8rem;
    left: 3.5rem;
    top: -.75rem;
}

.head1 {
    background-color: var(--header-bg-1);
    height: 3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.5rem;
    padding-right: 4rem;
    gap: 1.5rem;
}

.head2 {
    background-color: var(--header-bg-2);
    height: 5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 6rem;
    gap: 2rem;
    font-size: xx-large;
}

header a {
    color: white;
    text-decoration: none;
    transition: color .5s ease-in-out;
    
}

.head1 a:hover {
    color: var(--text-hover);

}

.head2 a:hover {
    scale: 1.1;
    color: var(--text-hover);
}
.head2 a{
    position: relative;
}
.head2 > a::after {
    content: " ";
    width: 0%;
    height: .2rem;
    background-color: var(--text-underline);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10%;
    transition: .2s ease-in-out;
}
.head2 > a:hover::after{
    width: 100%;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1001;
    animation: slideDown .5s forwards ease;
}

/* animação do "descendo" */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}