.banner {
    height: 51.41rem;
    background-image: url(../imgs/banner.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.info {
    width: 100vw;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.info .text {
    text-align: center;
    width: 50%;
    font-size: 150%;
    padding-left: 3rem;
}

.info .foto {
    width: 50%;
    display: flex;
    justify-content: center;
}

.foto img {
    width: 30rem;
    border-radius: 2rem;
    border: 4px outset rgba(1, 0, 164, 0.58);
}

.dados {
    width: 100vw;
    padding: 3rem;
    display: flex;

}

.dados .barra {
    height: inherit;
    width: .1rem;
    background-color: grey;

}

.premios {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    padding-left: 0;
    gap: 1rem;
    width: 60%;
    justify-content: center;
}
.card{
    width: 15rem;
}
.estatiticas {
    width: 40%;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
}

.estatiticas div {
    font-size: 250%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.estatiticas div h1 {
    font-size: 200%;
    color: red;
    text-align: center;
}

.estatiticas div:nth-child(1) {
    grid-column: 2 / 3; 
}

.estatiticas div:nth-child(2) {
    grid-column: 1 / 2; 
}

.estatiticas div:nth-child(3) {
    grid-column: 3 / 4; 
}
.divisor{
    width: 90vw;
    height: .2rem;
    margin: 3rem auto;
    background-color: grey;
}