:root{
    --bg:#F5F5F5;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    
}
main .buttons{
    display: flex;
    justify-content: center;
    translate: 0 20px;
    gap: 1rem;
}
.infos{
    background-color: var(--bg);
    padding: 2rem;
    display: flex;
    border-radius: 2rem;
}
.infos .text{
    width: 50%;
}
.infos .fotos{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
img{
    width: 20rem;
}