* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.robo {
    display: flex;
    height: 40rem;
    font-size: 150%;
}

.esq,
.dir {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
h1{
    margin-bottom: 5rem;
}
.divisor{
    width: 90vw;
    height: .2rem;
    margin: 3rem auto;
    background-color: grey;
}